// Bootstrap Variable Overrides
$brand-primary: #900;
$icon-font-path: '/fonts/';

// Pre-Imports & Fonts
// @import "resources/assets/sass/vendor/bootstrap";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

// Global Variables
$black: #000;
$almost-black: #0c0c0c;
$light-black: #111;
$lightest-black: #121212;
$darker-gray: #222;
$dark-gray: #777;
$gray: #ccc;
$almost-white: #ececec;
$white: #fff;
$dark-red: #900;
$med-red: #c00;

$fast: 300ms;
$slow: 1000ms;

// Element Styles
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}
body {
  padding-top: 70px;
  background-color: $lightest-black;
  color: $gray;
}
a {
  transition: color $fast;

  &:hover {
    color: lighten($dark-red, 30%);
  }
}
hr {
  border-color: $dark-gray;
}

// General Classes
.error{
  color: $med-red;
}
.form-control {
  background-color: $light-black;
  color: $gray;
  border-color: $dark-gray;
}
.btn-cancel {
  background-color: lighten($gray, 10%);
  color: $light-black;
}
.create-btn {
  float: right;
  margin-top: 20px;
  @extend .btn;
  @extend .btn-success;
}
.inner-field-container {
  padding: 15px;
  border: solid 1px $gray;
  border-radius: 5px;

  table tbody tr td {
    vertical-align: middle;

    &:last-of-type{
      padding-top: 12px;
      text-align: right;
    }
    .form-group {
      margin-bottom: 0;
    }
  }

  .btn {
    margin-top: -5px;
  }

  hr {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.image-preview {
  display: block;
  max-width: 100%;
  max-height: 50px;
  margin: 0;
}

// Layout Classes
.master-wrapper{
  position: relative;
  min-height: 100%;

  .container.content {
    padding-bottom: 150px;
  }
}
.footer-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  .footer {
    text-align: center;
    height: 100px;
    position: relative;
    background-color: $almost-black;
    color: $dark-gray;

    .footer-text {
      // This might be a good use case for a mixin to vertically center elements.
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

// CK Editor styles
#cke_body {
  border: solid 1px $dark-gray;
  border-radius: 5px;
  padding: 2px;
}

// Bootstrap Style Overrides
.panel {
  border-color: $dark-gray;

  .panel-heading {
    color: $gray;
    background-color: $lightest-black;
    border-color: $dark-gray;
  }
  .panel-body {
    background-color:  $darker-gray;

    hr {
      border-top-color: $dark-gray;
    }
  }
}
.input-group-btn:last-child{
  border-color: $dark-gray;
  border-bottom-width: 7px;
}
.dropdown-menu {
  background-color: $darker-gray;
  li a {
    color: $gray;

    &:hover {
      background-color: $dark-gray;
      color: $gray;
    }
  }
}
.input-group-btn.open > .dropdown-menu {
  max-height: 275px;
  overflow-y: scroll;
}
.input-group-btn:last-child > .btn {
  border-color: $dark-gray;
  border-bottom-width: 2px;
}
.list-group-item {
  border-color: $dark-gray;
}
.table tbody tr.separator-row {
  height: 30px;
}
.table tbody tr.second-thead th {
  border-top: 0;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: $darker-gray;
}
.table > thead > tr > th, .table > thead > tr > td,
.table > tbody > tr > th, .table > tbody > tr > td,
.table > tfoot > tr > th, .table > tfoot > tr > td {
  vertical-align: middle;
  border-color: $dark-gray;
}
.btn-hollow, .btn-hollow-danger {
  background-color: inherit;
  border-color: $dark-gray;
  color: $gray;
  &:hover {
    color: $darker-gray;
    background-color: $gray;
  }
  &:active, &:focus {
    color: $almost-white;
  }
}
.btn-hollow-danger:hover {
  color: $almost-white;
  background-color: $med-red;
}

// jQuery DataTable Overrides
table.dataTable tbody tr {
  background-color: inherit;
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: $gray;
}
.dataTables_length label select,
.dataTables_filter label input{
  @extend .form-control;
  display: inline;
  width: auto;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: $gray !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: $gray !important;
  background: inherit;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: $dark-gray;
}

// Media Queries
@media(min-width: 768px){
  body.mgmt {
    table tr td {
      min-width: 160px;
    }
  }
}
