// Bootstrap Variable Overrides
$brand-primary: #900;
$icon-font-path: '/fonts/';

// Pre-Imports & Fonts
@import "resources/assets/sass/vendor/bootstrap";
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

// Global Variables
$almost-black: #0c0c0c;
$light-black: #111;
$lightest-black: #121212;
$darker-gray: #222;
$dark-gray: #777;
$gray: #ccc;
$dark-red: #900;
$med-red: #c00;

$fast: 300ms;
$slow: 1000ms;

// Element Styles
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}
body {
  padding-top: 70px;
  background-color: $lightest-black;
  color: $gray;
}
a {
  transition: color $fast;

  &:hover {
    color: lighten($dark-red, 30%);
  }
}

// General Classes
.error{
  color: $med-red;
}
.form-control {
  background-color: $light-black;
  color: $gray;
}
.btn-cancel {
  color: $light-black;
}

// Layout Classes
.master-wrapper{
  position: relative;
  min-height: 100%;

  .container.content {
    padding-bottom: 150px;
  }
}
.footer-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  .footer {
    text-align: center;
    height: 100px;
    position: relative;
    background-color: $almost-black;
    color: $dark-gray;

    .footer-text {
      /**
       * This might be a good use case for a mixin to vertically center elements.
       */
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.create-btn {
  float: right;
  margin-top: 20px;
  @extend .btn;
  @extend .btn-success;
}

// CK Editor styles
#cke_body {
  border: solid 1px #ddd;
  border-radius: 5px;
  padding: 2px;
}

// Bootstrap Style Overrides
.panel {
  border-color: $dark-gray;

  .panel-heading {
    color: $gray;
    background-color: $lightest-black;
    border-color: $dark-gray;
  }
  .panel-body {
    background-color:  $darker-gray;

    hr {
      border-top-color: $dark-gray;
    }
  }
}

.dropdown-menu {
  background-color: $darker-gray;
  li a {
    color: $gray;

    &:hover {
      background-color: $dark-gray;
      color: $gray;
    }
  }
}

.table tbody tr.separator-row {
  height: 30px;
}
.table tbody tr.second-thead th {
  border-top: 0;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: $darker-gray;
}

// Media Queries
@media(min-width: 768px){
  body.mgmt {
    table tr td {
      min-width: 160px;
    }
  }
}
